<form [formGroup]="colorForm">
  <div>
    <label for="new-color-input">New Color</label>
    <input type="text" id="new-color-input"
      formControlName="newColor">
  </div>
  <button (click)="doSubmitColor()">{{buttonText}}</button>
</form>