<tool-header headerText="Color Tool"></tool-header>
<ul>
  <li *ngFor="let color of colors">{{color}}</li>

  <!-- <ng-template ngFor [ngForOf]="colors" let-color>
    <li>{{color}}</li>
    <li>{{color | uppercase}}</li>
  </ng-template>

  <ng-container *ngFor="let color of colors">
    <li>{{color}}</li>
    <li>{{color | uppercase}}</li> 
  </ng-container> -->
</ul>

<color-form buttonText="Add Color"
  (submitColor)="addColor($event)"></color-form>


