<form [formGroup]="contactForm">
  <div>
    <label for="first-name-input">First Name</label>
    <input type="text" id="first-name-input"
      formControlName="firstName">
    <span *ngIf="firstNameShowValidationMsg">Please enter a first name.</span>
  </div>
  {{contactForm.errors | json}}

  <div>
    <label for="email-input">Email</label>
    <input type="text" id="email-input" formControlName="email">
  </div>

  <div>
    <label for="phone-input">Phone</label>
    <input type="text" id="phone-input" formControlName="phone">
  </div>


  <name-input formControlName="fullName"></name-input>

  {{contactForm.value | json}}

</form>

